# Banco de dados
# Dev local: SQLite
DATABASE_URL="file:./dev.db"
# Produção (Vercel Postgres): descomente e preencha
# DATABASE_URL="postgresql://..."

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="gere-com-openssl-rand-base64-32"

# Google OAuth (console.cloud.google.com)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
